<!doctype html>

<!-- http://www.sitepoint.com/a-basic-html5-template/ -->
<!-- http://stackoverflow.com/questions/15409605/css3-filter-blur-keyframe-animation -->
<!-- alt effect: http://stackoverflow.com/questions/24709915/blur-the-edges-of-an-image-or-background-image-with-css -->
<!-- Google Categorical Colors http://bl.ocks.org/aaizemberg/78bd3dade9593896a59d -->
<!-- Annotator.js Correct Init Code: http://docs.annotatorjs.org/en/v1.2.x/getting-started.html -->

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Country News Explorer</title>
  <meta name="description" content="An interface for exploring media at the country level.">
  <meta name="author" content="Sands Fish">

  <link rel="stylesheet" href="static/css/styles.css?v=1.0">
  <link rel="stylesheet" href="static/css/annotator.min.css">
  <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300italic,700' rel='stylesheet' type='text/css'>

  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
  <script src="static/javascript/annotator-full.min.js"></script>
  <script src="http://localhost:5000/countrynews.js?topic_id={{topic_id}}"></script>

  <br>
  <h1 class="header">MEXICO</h1>

  <span id="notebook_toggle" style="float: right;"><a href="#" onClick="openNotebook();">Notebook</a></span>
  
  <hr>

  <div id="contentBox" style="margin:0px auto; width:75%">

    <div id="notebook" style="width: 95%; margin: auto; height: 95%">
      <h2>Research Notebook</h2>
      <a href="#" onClick="annotate();">Annotate</a>
    </div>

   <!-- columns divs, float left, no margin so there is no space between column, width=1/3 -->
      <div id="column1" style="float:left; margin:2px; width:33%;">
          <div class="column_header">
            <img src="/static/icons/microphone.svg" width="40px"/>
            <h2>Voices</h2>
          </div>
          <hr>
          <!-- <a href="#" id="reload_top_media" style="text-align: center;">[Reload Stories]</a> -->
          <div id="top_media">
            <ul id="top_media_list">

            </ul>
          </div>
          <div id="nb_top_media">
            <ul id="nb_top_media_list">

            </ul>
          </div>
      </div>

      <div id="column2" style="float:left; margin:2px; width:33%;">
        <div class="column_header">
          <img src="/static/icons/newspaper.svg" width="40px"/>
          <h2>Influential Stories</h2>
        </div>
        <hr>
        <!-- <a href="#" id="reload_stories" style="text-align: center;">[Reload Stories]</a> -->
        <div id="top_stories">
          <ul id="top_stories_list">

          </ul>
        </div>
        <div id="nb_top_stories">
          <ul id="nb_top_stories_list">

          </ul>
        </div>

      </div>

      <div id="column3" style="float:left; margin:2px; width:33%">
        <div class="column_header">
          <img src="/static/icons/speechbubble.svg" width="40px"/>
          <h2>Words</h2>
        </div>
        <hr>
        <!-- <a href="#" id="reload_top_words" style="text-align: center;">[Reload Words]</a> -->
        <div id="top_words">
          <ul id="top_words_list">

          </ul>
        </div>
        <div id="nb_top_words">
          <ul id="nb_top_words_list">

          </ul>
        </div>
      </div>
  </div>


  <!-- <div id="bounding_box" >
	 <img id="image" style="margin: -5px -10px -10px -5px;"/>  
  </div> -->
</body>
</html>